<!--stepper-->
<div fxLayout="row" fxLayoutAlign="center center" class="stepper">
  <div (click)="onProfile()" class="step" fxLayout="row" fxLayoutAlign="center center" matRipple>
    <div class="step-header-active" fxLayoutAlign="center center">1</div>
    <div class="step-label-active">PROFILE</div>
  </div>
  <mat-divider class="stepper-divider"></mat-divider>
  <div class="step" fxLayout="row" fxLayoutAlign="center center" matRipple>
    <div class="step-header-inactive" fxLayoutAlign="center center">2</div>
    <div class="step-label-inactive">SETTINGS</div>
  </div>
  <mat-divider class="stepper-divider"></mat-divider>
  <div class="step" fxLayout="row" fxLayoutAlign="center center" matRipple>
    <div class="step-header-inactive" fxLayoutAlign="center center">3</div>
    <div class="step-label-inactive">STUDENTS</div>
  </div>
  <mat-divider class="stepper-divider"></mat-divider>
  <div class="step" fxLayout="row" fxLayoutAlign="center center" matRipple>
    <div class="step-header-inactive" fxLayoutAlign="center center">4</div>
    <div class="step-label-inactive">FINISHED</div>
  </div>
</div>
<router-outlet></router-outlet>
