<div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh">
  <p class="title">CONNECT WITH YOUR STUDENTS</p>
  <form fxLayoutAlign="center center" [formGroup]="studentForm" class="widthFullPer">
    <mat-form-field style="width: 280px">
      <input matInput [matAutocomplete]="auto" formControlName="name" placeholder="Student Name">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users" [value]="option" class="background-eee">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="profile-image-container-mini" [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}" style="margin-right: 15px"></div>
            <span class="autocomp-text">{{ user.name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <br>
  <button (click)="onFinish()" type="submit" mat-raised-button color="accent" class="action-button" fxLayoutAlign="center center">
    FINISH
  </button>
</div>
