<div fxLayout="row" fxLayoutAlign="center center" class="event" mat-ripple>
  <div fxLayout="column" fxLayoutAlign="center center" class="date-container">
    <div class="date" fxLayout="column" fxLayoutAlign="center center">
      <p class="day">{{ event.dateFrom.day }}</p>
      <p class="month">{{ event.dateFrom.month | uppercase }}</p>
    </div>
    <div *ngIf="event.dateTo" style="margin: 10px 0px 10px 10px">|</div>
    <div *ngIf="event.dateTo" class="date" fxLayout="column" fxLayoutAlign="center center">
      <p class="day">{{ event.dateTo.day }}</p>
      <p class="month">{{ event.dateTo.month | uppercase }}</p>
    </div>
  </div>
  <mat-divider vertical="true" class="divider"></mat-divider>
  <div class="text">
    <p class="title">{{ event.title }}</p>
    <p class="desc">{{ event.description }}</p>
  </div>
</div>
