.event {
  width: 100%;
  cursor: pointer;
  margin: 35px 0px;
  height: 150px;
}

.date-container {
  width: 130px;
  height: 100%;
}

.date {
  color: grey;
  margin: 0 15px;
  padding-left: 10px;
}

.day {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}

.month {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.divider {
  height: 100%;
}

.text {
  color: grey;
  margin: 0 15px;
  width: 320px;
}

.title {
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.desc {
  font-weight: 300;
  font-size: 13px;
  margin: 0;
}
