.auth-input{
  background-color: #2b5570;
  border-radius: 33.5px;
  font-size: 14px;
  width: 320px;
  height: 38px;
  margin-bottom: 13px;
  padding-left: 25px;
}

/* .auth-input-firstname {
  width: 147px;
  border-radius: 33.5px 0px 0px 33.5px;
  margin-right: 3px;
}

.auth-input-lastname {
  width: 147px;
  border-radius: 0px 33.5px 33.5px 0px;
  margin-left: 3px;
} */

.auth-input-field {
  color: #eee;
  padding-top: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.auth-input-field-icon {
  color: white;
  font-size: 17px;
  padding-right: 12px;
}

.auth-radio-label {
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
  color: #2b5570;
}

.auth-radio-group {
  width: 100%;
  margin: 10px;
  margin-top: 0px;
  color: #2b5570;
}

.auth-radio-buttons {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 5px;
}

.auth-btn {
  border-radius: 33.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 320px;
  font-size: 16px;
}

/* .auth-bth-disabled {
  border-radius: 33.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 300px;
  font-size: 16px;
} */

.auth-switch-prompt {
  color: grey;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .auth-input {
    width: 250px;
  }
  .auth-btn {
    width: 250px;
  }
  .auth-radio-group {
    width: 250px;
  }
}

::ng-deep .mat-form-field-underline,  ::ng-deep .mat-form-field-ripple{
  display: none !important;
}

::ng-deep .mat-form-field-label{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 200 !important;
  color: #eee !important;
  top: 27px !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  display: none !important;
}
