<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="user.type === 'student'" class="category">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="category-title-container">
      <div fxLayout="row">
        <p class="category-title">MULTIPLE EMAILS</p>
        <fa-icon [icon]="['fas', user.prefs.MultiEmails ? 'check-circle' : 'times-circle']" class="icons" [ngClass]="{'icon-on': user.prefs.MultiEmails, 'icon-off': !user.prefs.MultiEmails}" fxLayoutAlign="center center"></fa-icon>
      </div>
      <button (click)="togglePref('MultiEmails')" class="category-toggle" mat-button color="accent">{{ user.prefs.MultiEmails ? 'TURN OFF' : 'TURN ON' }}</button>
    </div>
    <p class="category-info">
      Allow notifications to be sent to multiple emails. For example, a student and a parent both can receive notifications of assignment uploads.
    </p>
    <br>
    <form (ngSubmit)="onSubmitEmail()" [formGroup]="emailForm">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email" class="form-input">
        <span matSuffix style="color: grey; cursor: pointer"><i class="material-icons" fxLayoutAlign="center center">add</i></span>
      </mat-form-field>
    </form>
  </div>

  <br>

  <div *ngIf="user.type === 'tutor'" class="category">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="category-title-container">
      <div fxLayout="row">
        <p class="category-title">AUTO LOG</p>
        <fa-icon [icon]="['fas', user.prefs.AutoLog ? 'check-circle' : 'times-circle']" class="icons" [ngClass]="{'icon-on': user.prefs.AutoLog, 'icon-off': !user.prefs.AutoLog}" fxLayoutAlign="center center"></fa-icon>
      </div>
      <button (click)="togglePref('AutoLog')" class="category-toggle" mat-button color="accent">{{ user.prefs.AutoLog ? 'TURN OFF' : 'TURN ON' }}</button>
    </div>
    <p class="category-info">
      Leave it to us. Set your hours beforehand and have them automatically logged for you every week.
    </p>
  </div>

  <br>

  <div class="category">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="category-title-container">
      <div fxLayout="row">
        <p class="category-title">INBOX ALERTS</p>
        <fa-icon [icon]="['fas', user.prefs.InboxNotif ? 'check-circle' : 'times-circle']" class="icons" [ngClass]="{'icon-on': user.prefs.InboxNotif, 'icon-off': !user.prefs.InboxNotif}" fxLayoutAlign="center center"></fa-icon>
      </div>
      <button (click)="togglePref('InboxNotif')" class="category-toggle" mat-button color="accent">{{ user.prefs.InboxNotif ? 'TURN OFF' : 'TURN ON' }}</button>
    </div>
    <p *ngIf="user.type === 'tutor'" class="category-info">
      Get inbox notifications when you receive a message from a student or parent.
    </p>
    <p *ngIf="user.type === 'student'" class="category-info">
      Get inbox notifications when you receive a message or upload from your tutor.
    </p>
  </div>

  <br>

  <div *ngIf="user.type === 'tutor'" class="category">
    <div *ngIf="user.type === 'tutor'" fxLayout="row" fxLayoutAlign="space-between center" class="category-title-container">
      <div fxLayout="row">
        <p class="category-title">LOG ALERTS</p>
        <fa-icon [icon]="['fas', user.prefs.LogNotif ? 'check-circle' : 'times-circle']" class="icons" [ngClass]="{'icon-on': user.prefs.LogNotif, 'icon-off': !user.prefs.LogNotif }" fxLayoutAlign="center center"></fa-icon>
      </div>
      <button (click)="togglePref('LogNotif')" class="category-toggle" mat-button color="accent">{{ user.prefs.LogNotif ? 'TURN OFF' : 'TURN ON' }}</button>
    </div>
    <p *ngIf="user.type === 'tutor'" class="category-info">
      Receive a weekly email when your hours have been logged automatically by our system.
    </p>
  </div>

</div>
