/* .title {
  color: #30546c;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 0px 10px;
} */

.container {
  width: 69vw;
  padding: 0 20px;
}

.category {
  width: 100%;
  /* width: 850px; */
  /* width: 60vw; */
}

.category-title-container {
  width: 100%;
}

.category-title {
  color: #30546c;
  font-weight: 500;
  font-size: 16px;
  width: 100%
}

.category-info {
  width: 85%;
}

.category-info-title-container {
  width: 100%;
}

.category-info-title {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.category-info {
  font-size: 16px;
  font-weight: 300;
  color: grey;
  margin: 0;
  width: 100%;
  line-height: 23px;
}

.category-toggle {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.icons {
  padding: 0px 15px;
}

.icon-on {
  color: #3fa700;
}

.icon-off {
  color: #de0005;
}

.divider {
  width: 96%;
}

.form-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px !important;
}

.dynamic-height {
  height: 80vh;
  margin: 30px 10px;
}

@media (max-height: 450px) {
  .dynamic-height {
    height: inherit;
  }
}

@media (max-width: 960px) {
  /* .category {
    width: 80%;
  } */

  .container {
    width: 90vw;
  }

  .category-title {
    font-size: 15px;
  }

  .category-toggle {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .category-title {
    font-size: 13px;
  }

  .category-toggle {
    font-size: 13px;
  }
}
/*
@media (max-width: 360px) {
  .container {
    height: 100vh;
  }
} */
