<div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" class="uploadClicked-toolbar widthFullPer">

  <div *ngIf="screenWidth > mediaBreakpoint">
    <button mat-icon-button>
      <i class="material-icons sidenav-toggle-btn" (click)="onToggleBack()">arrow_back</i>
    </button>
  </div>
  <div *ngIf="screenWidth <= mediaBreakpoint" class="widthFullPer">
    <div  class="widthFullPer" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button>
        <i class="material-icons sidenav-toggle-btn" (click)="onToggleBack()">arrow_back</i>
      </button>
      <div class="upload-actions" fxLayout="row">
        <button mat-icon-button><i class="material-icons">reply</i></button>
        <button *ngIf="parent === 'sent'" mat-icon-button><i class="material-icons">edit</i></button>
        <button mat-icon-button><i class="material-icons">delete</i></button>
      </div>
    </div>
    <mat-divider style="margin:10px"></mat-divider>
  </div>
  <br>

  <div class="upload" fxLayout="column" fxLayoutAlign="start start" fxFill>
    <div class="upload-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="profile-image-container-small" [ngStyle]="{'background-image': 'url(' + upload.sender.photoUrl + ')'}"></div>
      <div class="upload-header-info">
        <p class="upload-header-main truncate"> {{ upload.sender.name }}
          <{{ upload.sender.email }}>
        </p>
        <p class="upload-header-text truncate">to {{ getRecipientsFormatted(upload.recipients) }}</p>
      </div>
    </div>
    <div class="upload-content" fxLayout="column">
      <div class="widthFullPer" fxLayout="row" fxLayoutAlign="space-between center">
        <p class="upload-content-subject widthFullPer">{{ upload.subject }}</p>
        <div *ngIf="screenWidth > mediaBreakpoint" class="upload-actions" fxLayout="row">
          <button mat-icon-button><i class="material-icons">reply</i></button>
          <button *ngIf="parent === 'sent'" mat-icon-button><i class="material-icons">edit</i></button>
          <button mat-icon-button><i class="material-icons">delete</i></button>
        </div>
      </div>
      <mat-divider *ngIf="screenWidth > mediaBreakpoint"></mat-divider>
      <p class="upload-content-body" [ngStyle]="{'margin-top': screenWidth > mediaBreakpoint ? '20px' : '-8px'}">{{ upload.body }}</p>
      <mughub-attachments [attachments]="upload.attachments"></mughub-attachments>
    </div>
  </div>

</div>
