.uploadClicked-toolbar {
  background-color: #eee;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size:  16px;
  font-weight: 500;
  padding: 0px 25px;
}

.upload-header {
  margin-left: 30px;
}

.upload-header-info {
  margin: 0 30px;
}

.upload-header-main {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.upload-header-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.upload-content {
  margin: 20px 78px;
}

.upload-content-subject {
  font-size: 25px;
  font-weight: 400;
  color: grey;
}

.upload-content-body {
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin: 20px 25px;
  white-space: pre-wrap;
}
