.upload-container {
  background-color: #eee;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 20px;
}

.upload-expansion-panel {
  background-color: #eee;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

.upload {
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
}

.upload-header {
  color: grey;
  padding: 40px 10px;
  font-family: 'Montserrat', sans-serif;
}

.upload-header-info {
  margin: 0 20px;
}

.upload-header-expanded {
  margin: 0 20px;
}

.upload-header-expanded-icon {
  font-size: 17px;
  padding: 0 10px;
  margin-top: 3px;
}

.upload-actions {
  padding: 0 20px;
}

.upload-header-main {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}

.upload-header-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.upload-content {
  width: 90%;
  margin: 0 10px;
}

.upload-content-subject {
  font-size: 23px;
  font-weight: 400;
  color: grey;
}

.upload-content-body {
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin: 20px 25px;
  white-space: pre-wrap;
  line-height: 20px;
}

@media (max-width: 599px) {
  .upload {
    margin-left: 100px;
  }
}

@media (max-width: 500px) {
  .upload {
    margin-left: 15px;
  }
}

@media (hover: none) {
  :host ::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: none !important;
  }
}

:host ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
