<mat-drawer-container style="height: 100vh">
  <mat-drawer #navDrawer class="sideDrawer" mode="side" opened="true">
    <div fxLayout="column" fxLayoutAlign="space-between center" style="height: 100%; padding: 50px 0px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="profile-image-container"></div>
        <p class="profile-name">ANA WALTON</p>
      </div>
      <mat-nav-list fxLayout="column" style="width: 100%">
        <a mat-list-item routerLink="" class="sideDrawer-links" (click)="drawer.close()" fxLayoutAlign="center center">UPLOADS</a>
        <a mat-list-item routerLink="" class="sideDrawer-links" (click)="drawer.close()" fxLayoutAlign="center center">HOUR LOG</a>
        <a mat-list-item routerLink="" class="sideDrawer-links" (click)="drawer.close()" fxLayoutAlign="center center">MANAGE SITE</a>
        <a mat-list-item routerLink="" class="sideDrawer-links" (click)="drawer.close()" fxLayoutAlign="center center">SETTINGS</a>
      </mat-nav-list>
      <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/mugsite-95f7c.appspot.com/o/mughub_logo_ondark.png?alt=media&token=cc211c92-0870-4618-8f23-fecdc2b46ffc" alt="">
    </div>
  </mat-drawer>
  <mat-drawer-content style="padding: 0; background-color: #eee">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="header-nav">
      <i class="material-icons drawer-toggle-btn" (click)="navDrawer.toggle()">menu</i>
      <p>MANAGE SITE</p>
      <span></span>
    </mat-toolbar>
    <!-- <router-outlet></router-outlet> -->
  </mat-drawer-content>
</mat-drawer-container>
