.sidenav {
  width: 260px;
  height: 100vh;
  background-color: #2b5570;
  color: #eee;
}

.editor {
  width: 550px;
  height: 100vh;
  background-color: #eee;
  color: grey;
}

@media only screen and (max-width: 400px) {
  .sidenav {
    width: 100vw;
  }
}
