<mat-drawer-container style="height: 100vh">
  <mat-drawer #navDrawer class="sidenav" mode="side" opened="true">
    <mughub-sidenav (navDest)="getNavDest($event)" (closeNav)="navDrawer.close()"></mughub-sidenav>
  </mat-drawer>
  <mat-drawer-content style="padding: 0; background-color: #eee;">

    <!--side editor-->
    <mat-drawer-container [hasBackdrop]="false" style="height: 100vh;">

      <mat-drawer #editor class="editor" mode="over" position="end" >
        <mughub-manage-site-edit></mughub-manage-site-edit>
      </mat-drawer>

      <mat-drawer-content style="padding: 0; background-color: #eee; height: 100vh">
        <app-headnav title="{{ navDest }}" (sidenavToggled)="navDrawer.toggle()"></app-headnav>
        <router-outlet></router-outlet>
      </mat-drawer-content>

    </mat-drawer-container>

  </mat-drawer-content>
</mat-drawer-container>
