<div *ngIf="!showMobileStepper" fxLayout="row" fxLayoutAlign="center center" class="stepper">
  <div *ngFor="let step of steps, let i = index" fxLayout="row" fxLayoutAlign="center center" class="heightPerFull" [ngStyle]="{'width' : i === steps.length - 1 ? '66.67%' : '100%'}">
    <div [routerLink]="['/mughub/welcome/account-setup', step]" (click)="currStep = { name: step, num: i }" class="step" fxLayout="row" fxLayoutAlign="center center" matRipple>
      <div [ngClass]="{'step-header-active': currStep.name === step, 'step-header-inactive': currStep.name !== step }" fxLayoutAlign="center center">{{ i + 1}}</div>
      <div [ngClass]="{'step-label-active': currStep.name === step, 'step-label-inactive': currStep.name !== step }">{{ step }}</div>
    </div>
    <mat-divider *ngIf="i !== steps.length - 1" class="stepper-divider"></mat-divider>
  </div>
</div>

<div *ngIf="showMobileStepper">
  <mat-expansion-panel class="stepper-mobile" #panel>

    <mat-expansion-panel-header *ngIf="!panel.expanded" class="stepper-mobile-header">
      <div class="step-mobile" fxLayout="row" fxLayoutAlign="start center" matRipple>
        <div class="step-header-active" fxLayoutAlign="center center">{{ currStep.num + 1 }}</div>
        <div class="step-label-active">{{ currStep.name }}</div>
      </div>
    </mat-expansion-panel-header>

    <mat-expansion-panel-header *ngIf="panel.expanded" class="stepper-mobile-header">
      <div [routerLink]="['/mughub/welcome/account-setup', steps[0] ]" (click)="currStep = { name: steps[0], num: 0 }; panel.close()" class="step-mobile" fxLayout="row" fxLayoutAlign="center center" matRipple>
        <div [ngClass]="{'step-header-active': currStep.name === steps[0], 'step-header-inactive': currStep.name !== steps[0]}" fxLayoutAlign="center center">1</div>
        <div [ngClass]="{'step-label-active': currStep.name === steps[0], 'step-label-inactive': currStep.name !== steps[0]}" fxLayoutAlign="center center">{{ steps[0] }}</div>
      </div>
    </mat-expansion-panel-header>

    <div fxLayout="column" fxLayoutAlign="start start" style="margin-top: -12px; padding: 0px 6px;">
      <div *ngFor="let step of steps | slice:1, let i = index">
        <mat-divider class="stepper-mobile-divider" [vertical]="true"></mat-divider>
        <div [routerLink]="['/mughub/welcome/account-setup', step]" (click)="currStep = { name: step, num: i + 1}; panel.close()" class="step-mobile" fxLayout="row" fxLayoutAlign="center center" matRipple>
          <div [ngClass]="{'step-header-active': currStep.name === step, 'step-header-inactive': currStep.name !== step}" fxLayoutAlign="center center">{{i + 2}}</div>
          <div [ngClass]="{'step-label-active': currStep.name === step, 'step-label-inactive': currStep.name !== step}" fxLayoutAlign="center center">{{step}}</div>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</div>
