<div *ngIf="!hasLoaded" class="loader">loading...</div>

<div *ngIf="hasLoaded && !showAccountSetup" class="welcome-container fade-in" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 92vh">
    <img src="assets/img/mughub_logo_horizontal_onDark.png" style="width: 250px;">
    <p class="welcome-text">We are a community of students, parents, tutors, and teachers, working together to reach academic excellence.</p>
    <br><br>
    <button (click)="onGetStarted()" mat-raised-button class="action-button" color="accent">LET'S GET STARTED</button>
    <p class="welcome-action-btn-subtext" (click)="onExit()">or return to the MUG webiste</p>
    <!-- <p class="welcome-hashtag" fxLayoutAlign="center end">#BetterTogether</p> -->
  </div>
</div>

<router-outlet *ngIf="showAccountSetup"></router-outlet>
