<div *ngIf="upload" class="upload" fxLayout="row" matRipple>

  <div *ngIf="upload.unread && parent === 'inbox'" class="unread-symbol"></div>

  <div class="date" fxLayout="column" fxLayoutAlign="start start">
    <p class="day">{{ upload.creationDate.day | twoDigitDate }}</p>
    <p class="month">{{ upload.creationDate.month | monthString | uppercase }}</p>
  </div>

  <mat-divider class="divider" [vertical]="true"></mat-divider>

  <div class="info" fxLayout="column" fxLayoutAlign="center start">
    <div *ngIf="screenWidth < 600" class="name truncate">{{ parent === 'sent' ? getRecipientsFormatted(upload.recipients) : upload.sender.name }}</div>
    <div *ngIf="screenWidth < 600" class="subject truncate">{{ upload.subject }}</div>
    <div *ngIf="screenWidth >= 600" class="truncate"><span class="name">{{ parent === 'sent' ? 'To: ' + getRecipientsFormatted(upload.recipients) : upload.sender.name }}</span><span class="subject"> ~ {{ upload.subject}}</span></div>
    <div class="upload-content truncate">{{ upload.body }}</div>
    <mughub-attachments [attachments]="upload.attachments"></mughub-attachments>
  </div>

</div>
