<mughub-headnav *ngIf="dateClicked" title="{{ dateClicked.month }} {{ dateClicked.date }}" iconLeft="close" (leftIconToggled)="onClose()"></mughub-headnav>

<div *ngIf="dateClicked" fxLayout="column" fxLayoutAlign="space-between center">

  <div (click)="onEditHourLogEl(hourLogEl)" *ngFor="let hourLogEl of dateClicked.hoursLogged" fxLayout="row" fxLayoutAlign="start center" class="widthFullPer hourLogEl" matRipple>
    <div *ngIf="hourLogEl.connections.length === 1" class="profile-image-container-small" [ngStyle]="{'background-image': 'url(' + hourLogEl.connections[0].photoUrl + ')'}" fxLayoutAlign="center center" style="margin-right: 20px;"></div>
    <div *ngIf="hourLogEl.connections.length > 1" class="profile-image-container-small" fxLayoutAlign="center center" style="margin-right: 20px;">
      <i class="material-icons profile-image-container-icon">group</i>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row">
        <span *ngFor="let connection of hourLogEl.connections; let i = index" class="marginNone">
          {{ connection.name }}<span *ngIf="hourLogEl.connections.length !== 0 && i !== hourLogEl.connections.length - 1" style="margin-right: 4px">,</span>
        </span>
      </div>
      <p class="marginNone">{{ hourLogEl.startTime | standardTime }} - {{ hourLogEl.endTime | standardTime }}</p>
    </div>
  </div>

  <!-- <div *ngIf="!dateClicked.hoursLogged || dateClicked.hoursLogged.length === 0">
    <p class="drawer-form-text"><i>There are no hours currently logged.</i></p>
  </div> -->
  <!-- <div *ngIf="showErrorAddHint">
    <p style="margin: 0px 20px" class="drawer-form-text">*You are not permitted to add hours on this date as it is not within the pay period. Please contact ------- for assistance.</p>
  </div> -->

</div>

<div *ngIf="!dateClicked" class="loader"></div>

<div *ngIf="addBtnEnabled" (click)="onAddHours()" class="drawer-sticky-btn-accent" fxLayoutAlign="center center" matRipple>
  ADD
</div>
<div *ngIf="!addBtnEnabled" class="drawer-sticky-btn-disabled" fxLayoutAlign="center center">
  ADD
</div>
