:host ::ng-deep .mat-form-field-label{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 200 !important;
  font-size: 15px !important;
  color: grey !important;
}

:host ::ng-deep .mat-datepicker-content .mat-calendar {
	background: #eee !important;
}

:host ::ng-deep .mat-stroked-button:not([disabled]) {
  border-color: #de6600 !important;
}

:host ::ng-deep .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-size: 13px !important;
}
