.calendar {
  width: 500px;
  height: 500px;
}

.calendar-month-name {
  color: #2b5570;
  font-size: 18px;
  font-weight: 600;
}

.calendar-icons {
  color: #2b5570;
  font-weight: 500;
  font-size: 25px;
}

.calendar-dayofweek {
  color: grey;
  font-weight: 500;
  font-size: 15px;
}

.calendar-date {
  color: grey;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  border-radius: 100px;
  padding: 10px 0px;

}

.calendar-date-inactive {
  color: #D1CFCF;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 0px;
}

.event-circle {
  background-color: #2b5570;
  width: 6px;
  height: 6px;
  border-radius: 200px;
  margin-bottom: 2px;
}
