<div fxLayout="column" fxLayoutAlign="center center" class="background-eee widthFullPer">
  <div (click)="onOpenImageUploader.next()" class="profile-image-container-large profile-image-click" [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}">
    <div class="profile-image-add">
      <i fxLayoutAlign="center center" class="material-icons profile-image-add-icon">add</i>
    </div>
  </div>
  <form [formGroup]="nameForm" fxLayoutAlign="center center" class="widthFullPer">
    <mat-form-field floatLabel="never" style="width: 250px">
      <input matInput type="text" formControlName="username" class="nameFormField">
      <span matSuffix style="color: grey; cursor: pointer;">
        <i class="material-icons" fxLayoutAlign="center center">edit</i>
      </span>
    </mat-form-field>
  </form>
</div>
