<div class="widthFull" fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;">

  <div fxLayout="column" fxLayoutAlign="center center">
    <p *ngIf="userService.getUserSession().type === 'tutor'" class="title">CONNECT WITH YOUR STUDENT(S)</p>
    <p *ngIf="userService.getUserSession().type === 'student'" class="title">CONNECT WITH YOUR TUTOR(S)</p>

    <div fxLayoutAlign="center center" class="connection-form">
      <app-connection-form [connections]="possibleConnections" fxFill></app-connection-form>
    </div>

    <br><br>

    <button (click)="onFinish()" type="submit" mat-raised-button color="accent" class="action-button" fxLayoutAlign="center center" [disabled]="!connectionsValid">
      FINISH
    </button>
  </div>

</div>
