<div class="widthFull dynamic-height" fxLayout="column" fxLayoutAlign="space-between center">

  <div class="connection-container" fxLayout="column" fxLayoutAlign="center center">
    <p *ngIf="userService.getUserSession().type === 'tutor'" class="title">CONNECT WITH YOUR STUDENT(S)</p>
    <p *ngIf="userService.getUserSession().type === 'student'" class="title">CONNECT WITH YOUR TUTOR(S)</p>

    <div fxLayoutAlign="center center" class="connection-form">
      <app-connection-form [connections]="possibleConnections" [required]="connectionRequired" fxFill></app-connection-form>
    </div>

    <br><br>

    <button (click)="onFinish()" type="submit" mat-raised-button color="accent" class="action-button" fxLayoutAlign="center center" [disabled]="!connectionsValid">
      FINISH
    </button>
  </div>

  <br><br>

  <div class="helper-container" fxLayout="column" fxLayoutAlign="center center">
    <i fxLayoutAlign="center center" class="material-icons helper-text-icon">warning</i>
    <p fxLayoutAlign="center center" class="helper-text-title">Don't see the connection you are looking for?</p>
    <p fxLayoutAlign="center center" class="helper-text">Most likely, they haven't signed up yet. Don't worry, you can update your connections after setting up your account.</p>
  </div>

  <br><br>

</div>
