.title {
  color: #2b5670;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 0px 10px;
}

.connection-form {
  width: 400px;
}

:host ::ng-deep .mat-form-field-label{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  color: grey !important;
}

.dynamic-height {
  height: 80vh;
}

@media (max-height: 450px) {
  .dynamic-height {
    height: inherit;
  }
}

@media (max-width: 430px) {
  .connection-form {
    width: 230px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 22px;
  }
}
