/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* common app css classes */
.heightFull {
	height: 100vh !important;
}

.widthFull {
	width: 100vw !important;
}

.widthFullPer {
	width: 100% !important;
}

.heightFullPer {
	height: 100% !important;
}

.background-eee {
	background-color: #eee !important;
}

.paddingNone {
	padding: 0 !important;
}

.bottom-right-fab {
	position: fixed;
	bottom: 0 !important;
	right: 0 !important;
	padding: 40px !important;
}

.action-button {
	border-radius: 33.5px !important;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 600 !important;
	width: 320px !important;
	font-size: 16px !important;
}

@media only screen and (max-width: 330px) {
	.action-button {
		width: 250px !important;
	}
}

.btn-active {
  color: #de6600 !important;
  cursor: pointer !important;
}

.btn-disabled {
  color: #D1CFCF !important;
}

.profile-image-container {
	background-position: center center !important;
  background-size: cover !important;
  border-radius: 50% !important;
  width: 90px !important;
  height: 90px !important;
}

.profile-image-border {
	border: 3px solid #eee !important;
}

.profile-image-click {
	cursor: pointer !important;
}

.profile-image-container-mini {
	background-position: center center !important;
  background-size: cover !important;
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
}

.profile-image-container-large {
	background-position: center center !important;
  background-size: cover !important;
  border-radius: 50% !important;
  width: 150px !important;
  height: 150px !important;
}

.fileUploader {
	width: 0.1px !important;
	height: 0.1px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	z-index: -1 !important;
}

.side-content-drawer {
	width: 500px !important;
  height: 100% !important;
  background-color: #eee !important;
  color: grey !important;
}

@media only screen and (max-width: 500px) {
  .side-content-drawer {
    width: 100vw !important;
  }
}

.drawer-sticky-btn-accent {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 17px !important;
  background-color: #de6600 !important;
  color: white !important;
  width: 100% !important;
  height: 60px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
}

.drawer-sticky-btn-red {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 17px !important;
	position: fixed !important;
  bottom: 0 !important;
  background-color: #de0005 !important;
  color: white !important;
  width: 500px !important;
  height: 60px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
}

.drawer-sticky-btn-content {
	margin-bottom: 70px !important;
}

@media only screen and (max-width: 500px) {
  .drawer-sticky-btn-red {
    width: 100vw !important;
  }
}

.form-error-message {
	font-size: 13px !important;
	color: #de6600 !important;
}

.sidenav {
  width: 260px !important;
  height: 100vh !important;
  background-color: #2b5570 !important;
  color: #eee !important;
}

@media only screen and (max-width: 400px) {
  .sidenav {
    width: 100vw !important;
  }
}

/* autocomplete */
.autocomp-text {
  color: grey !important;
	font-family: 'Montserrat', sans-serif !important;
}

/* drawer-form */
.drawer-form {
	margin: 20px 40px !important;
  font-family: 'Montserrat', sans-serif !important;
}

.drawer-form-label {
	font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: grey !important;
  margin: 5px 0 0 0 !important;
}

.drawer-form-input {
	font-family: 'Montserrat', sans-serif !important;
  color: grey !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

/* animations */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* spinner */

.loader,
.loader:after,
.loader:before {
	background: #2b5670;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}

.loader {
	color: #2b5670;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.loader:after,
.loader:before {
	position: absolute;
	top: 0;
	content: '';
}

.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	100%,
	80% {
		box-shadow: 0 0;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	100%,
	80% {
		box-shadow: 0 0;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
