@import '~@angular/material/theming'; // Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core(); // Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mat-base: (
  0: #e6eaed,
  100: #c1ccd3,
  200: #98aab6,
  300: #6e8798,
  400: #4f6e82,
  500: #30546c,
  600: #2b4d64,
  700: #244359,
  800: #1e3a4f,
  900: #13293d,
  A100: #7abdff,
  A200: #47a3ff,
  A400: #148aff,
  A700: #007dfa,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff,)
);
$mat-accent: (
  50: #fcf2e1,
  100: #f9deb3,
  200: #f5c881,
  300: #f0b24f,
  400: #eda229,
  500: #ea9103,
  600: #e78903,
  700: #e47e02,
  800: #e17402,
  900: #db6201,
  A100: #ffffff,
  A200: #ffe2cf,
  A400: #ffc29c,
  A700: #ffb283,
  contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000,)
);
$candy-app-primary: mat-palette($mat-base, 600);
$candy-app-accent: mat-palette($mat-accent);
$candy-app-warn: mat-palette($mat-red); // Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn); // Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
