<div fxLayout="column" fxLayoutAlign="center center" class="background-eee widthFullPer" style="height: 40%">
  <div *ngIf="imageUploading" class="loader">loading...</div>
  <div *ngIf="!imageUploading" id="profile-image" class="profile-image-container-large" [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}"></div>
</div>

<div class="background-images">
  <p class="background-images-title">CHOOSE A PHOTO</p>

  <!--images-->
  <div *ngIf="imagesLoaded" fxLayout="row wrap" fxLayoutAlign="center start" layout-wrap>
    <input (change)="onUpload($event)" type="file" id="image" accept="image/*" class="fileUploader">
    <label for="image">
      <div class="image" fxLayout="column" fxLayoutAlign="center center" style="background: transparent">
        <i class="material-icons upload-icon" fxLayoutAlign="center center">add_photo_alternate</i>
        <p class="upload-text">UPLOAD</p>
      </div>
    </label>
    <div (click)="onImageClick(i)" *ngFor="let url of imageUrls, let i = index" class="image" [ngStyle]="{'background-image': 'url(' + url + ')'}" matRipple></div>
  </div>

  <!--spinner-->
  <div *ngIf="!imagesLoaded" class="loader">loading...</div>
</div>
