<div fxLayout="column" fxLayoutAlign="center center" class="background-eee widthFullPer" style="height: 40%">
  <div id="profile-image" class="profile-image-container" [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}"></div>
  <!-- <p class="profile-name" fxLayoutAlign="center center">
    {{ user.name }}
  </p> -->
</div>

<div class="background-images">
  <p class="background-images-title">CHOOSE A PHOTO</p>

  <!--images-->
  <div *ngIf="imagesLoaded" fxLayout="row wrap" fxLayoutAlign="center start" layout-wrap>
    <input (change)="onUpload($event)" type="file" id="image" accept="image/*" class="fileUploader">
    <label for="image">
      <div class="image" fxLayoutAlign="center center" style="background: transparent">
        <p class="upload-text">UPLOAD</p>
        <i class="material-icons upload-icon">add</i>
      </div>
    </label>
    <div (click)="onImageClick(i)" *ngFor="let url of urls, let i = index" class="image" [ngStyle]="{'background-image': 'url(' + url + ')'}" matRipple></div>
  </div>

  <!--spinner-->
  <div *ngIf="!imagesLoaded" class="loader">loading...</div>
</div>
