.image {
  background-position: center center;
  background-size: cover;
  width: 145px;
  height: 145px;
  margin: 5px;
  cursor: pointer;
  background-color: #b1b2b3;
}

.background-images {
  position: absolute;
  bottom: 0;
  height: 50%;
  background-color: #d7d8da;
  padding: 5px;
  width: 97.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.background-images-title {
  color: grey;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.upload-text {
  font-size: 15px;
  font-weight: 500;
  color: #2b5670;
}

.upload-icon {
  color: #2b5670;
  font-size: 18px;
}
