<mat-drawer-container [hasBackdrop]="false" class="heightFull">

  <mat-drawer #editor mode="over" position="end" opened="false" class="side-content-drawer">
    <mughub-upload-editor (onClose)="editor.close()"></mughub-upload-editor>
  </mat-drawer>

  <mat-drawer-content class="background-eee heightFull paddingNone">
    <mughub-headnav title="uploads" iconLeft="menu" (leftIconToggled)="closeSidenav()"></mughub-headnav>
    <div fxLayout="column" fxLayoutAlign="start center">

      <div *ngIf="uploads.length !== 0">
        <mughub-upload (click)="onUploadClick(uploadEl)" *ngFor="let uploadEl of uploads" [upload]="uploadEl"></mughub-upload>
      </div>

      <div *ngIf="uploads.length === 0">
        No uploads
      </div>

      <div class="bottom-right-fab">
        <button (click)="editor.open()" mat-fab color="accent">
          <i class="material-icons" fxLayoutAlign="center center" style="color: white">add</i>
        </button>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
