.uploads-empty {
  padding: 10px 30px;
  height: 75vh;
}
.uploads-empty-text {
  width: 500px;
}
.uploads-empty-title {
  color: #2b5570;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}
.uploads-empty-subtext {
  color: #2b5570;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.uploads-empty-icon {
  color: #2b5570;
  font-size: 40px;
}

@media (max-width: 700px) {
  .uploads-empty-text {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .uploads-empty-text {
    width: 260px;
  }
}
