.headnav {
  background-color: #eee;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size:  16px;
  font-weight: 500;
  padding: 0px 25px; 
}

.sidenav-toggle-btn {
  cursor: pointer;
}
