<mughub-headnav title="{{ data.isEditMode ? 'EDIT' : 'ADD' }}" iconLeft="arrow_back" iconRight="done" (leftIconToggled)="onCancel()" (rightIconToggled)="onSubmit()" [enableIconRight]="editForm.valid"></mughub-headnav>

<form [formGroup]="editForm" fxLayout="column" class="editForm">

  <p class="editForm-label">TITLE</p>
  <mat-form-field floatLabel="never">
    <input matInput formControlName="title" type="text" class="editForm-input" placeholder="{{ placeholder.title }}">
  </mat-form-field>

  <p class="editForm-label">DESCRIPTION</p>
  <mat-form-field floatLabel="never">
    <textarea matInput formControlName="description" type="text" rows="6" class="editForm-input" placeholder="{{ placeholder.description }}">
        </textarea>
  </mat-form-field>

  <p class="editForm-label" style="margin-bottom: 20px;">DATE</p>
  <div fxLayout="row">
    <mat-radio-group formControlName="dateOption" aria-label="Select an option" #dateOption>
      <mat-radio-button value="oneTime" class="date-option" style="padding-left: 0" [ngStyle]="{'color': editForm.value.dateOption === 'oneTime' ? '#2b5570' : 'grey'}">ONE TIME</mat-radio-button>
      <mat-radio-button value="extended" class="date-option" [ngStyle]="{'color': editForm.value.dateOption === 'extended' ? '#2b5570' : 'grey'}">EXTENDED</mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field floatLabel="never" class="editForm-input-date" [ngStyle]="{'width': editForm.value.dateOption === 'extended' ? '47%' : '100%'}">
      <input (click)="dpFrom.open()" matInput formControlName="dateFrom" [matDatepicker]="dpFrom" [min]="minDateFrom" placeholder="{{ editForm.value.dateOption === 'extended' ? 'FROM: ' : 'Ex: 4/2/19'}}" class="editForm-input">
      <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
      <mat-datepicker #dpFrom [color]="'accent'"></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="editForm.value.dateOption === 'extended'" floatLabel="never" class="editForm-input-date">
      <input (click)="dpTo.open()" (click)="getValidDates()" matInput formControlName="dateTo" [matDatepicker]="dpTo" [min]="minDateTo" placeholder="TO: " class="editForm-input">
      <mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
      <mat-datepicker #dpTo></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
    <p class="editForm-label">ATTACHMENTS</p>
    <input (change)="onFileSubmit($event)" type="file" id="file" class="editForm-input" class="fileUploader">
    <label for="file"><i class="material-icons add-attachment-btn" mat-ripple>add_circle</i></label>
  </div>
  <div *ngIf="attachments.length !== 0">
    <mat-selection-list class="attachment-list" #attachmentsList>
      <mat-list-option id="option" *ngFor="let attachment of attachments; let i = index" value="{{ i }}" class="attachment-list-item">
        {{ attachment.nameRef }}
      </mat-list-option>
    </mat-selection-list>
    <br>
    <div *ngIf="attachmentsList.selectedOptions.selected.length !== 0" fxLayout="row" fxLayoutAlign="space-between center">
      <span></span>
      <button (click)="onDeleteAttachments()" mat-button class="delete-active">DELETE</button>
    </div>
  </div>
  <div *ngIf="attachments.length === 0">
    <p class="add-attachment-prompt">To add an attachment, click the button above.</p>
  </div> -->

  <br>

  <p class="editForm-label">LOCATION</p>
  <mat-form-field floatLabel="never">
    <input matInput formControlName="location" type="text" class="editForm-input" placeholder="{{ placeholder.location }}">
  </mat-form-field>

  <p class="editForm-label">TIME</p>
  <mat-form-field floatLabel="never">
    <input matInput formControlName="time" type="text" class="editForm-input" rows="3" placeholder="{{ placeholder.time }}">
  </mat-form-field>

  <p class="editForm-label">POINT OF CONTACT</p>
  <mat-form-field floatLabel="never">
    <input matInput formControlName="contact" type="text" class="editForm-input" placeholder="{{ placeholder.contact }}">
  </mat-form-field>

  <p class="editForm-label">SPECIAL INSTRUCTIONS</p>
  <mat-form-field floatLabel="never">
    <input matInput formControlName="instructions" type="text" class="editForm-input" placeholder="{{ placeholder.instructions }}">
  </mat-form-field>

</form>

<div appStickyBits *ngIf="data.isEditMode" (click)="onDelete()" class="action-btn" fxLayoutAlign="center center" mat-ripple>
  DELETE
</div>
