<mat-drawer-container [hasBackdrop]="false" class="heightFull">

  <mat-drawer #editor mode="over" position="end" opened="false" class="side-content-drawer">
    <mughub-uploader (onClose)="editor.close()"></mughub-uploader>
  </mat-drawer>

  <mat-drawer-content class="background-eee heightFull paddingNone">
    <mughub-headnav title="inbox" iconLeft="menu" (leftIconToggled)="closeSidenav()"></mughub-headnav>

    <div *ngIf="!uploads || uploads.length === 0" fxLayout="column" fxLayoutAlign="center center" style="height: 80%">
      <div  fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="['fas', 'trophy']" class="inbox-empty-icon" fxLayoutAlign="center center"></fa-icon>
        <br>
        <p class="inbox-empty-title">CONGRATS, YOU HAVE A CLEAN INBOX!</p>
        <p class="inbox-empty-subtext">At MUG, we celebrate the small wins. Keep 'em coming.</p>
      </div>
    </div>

    <div *ngIf="uploads && uploads.length !== 0 && !uploadClicked" fxLayout="column" fxLayoutAlign="center center" class="uploads dynamic-height">
      <div fxLayout="column" fxLayoutAlign="start start">
        <mughub-upload *ngFor="let upload of uploads;" [upload]="upload" [parent]="'inbox'" (click)="onUploadClick(upload)"></mughub-upload>
      </div>
    </div>

    <div *ngIf="uploadClicked" fxLayout="column" fxLayoutAlign="start start">
      <mughub-upload-clicked [upload]="uploadClicked" [parent]="'inbox'" (onBack)="uploadClicked = null"></mughub-upload-clicked>
    </div>

    <div class="bottom-right-fab">
      <button (click)="editor.open()" mat-fab color="accent">
        <i class="material-icons" fxLayoutAlign="center center" style="color: white">add</i>
      </button>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
