<div class="upload" fxLayout="row">
  <div class="date" fxLayout="column" fxLayoutAlign="start center">
    <p class="day">03</p>
    <p class="month">MAR</p>
  </div>
  <mat-divider class="divider" [vertical]="true"></mat-divider>
  <div class="info">
    <p class="name">MICHAEL JOHNSON <br> ALGEBRA II</p>
    <p class="category">ASSIGNMENT</p>
    <p class="category-text">
      Read pages 1 - 40 in math textbook and complete attached worksheets. <br>
      Due: Next Wednesday, March 30
    </p>
    <p class="category">ATTACHMENTS</p>
    <p class="category-text">
      Worksheet 1.pdf <i class="material-icons download-icon">cloud_download</i>
      <br>
      Worksheet 2.pdf <i class="material-icons download-icon">cloud_download</i>
      <br>
      Adding Worksheet for kids.pdf <i class="material-icons download-icon">cloud_download</i>
    </p>
    <p class="category">COMPLETED TODAY</p>
    <p class="category-text">
      Completed pages 1 - 10 in summer math packet.
    </p>
    <p class="category">COMMENTS/CONCERNS</p>
    <p class="category-text">
      Student is not focused during assigned time.
    </p>
  </div>
</div>
