.sideDrawer-content {
  height: 100%;
  padding: 50px 0px
}

.profile-name {
  color: #eee;
  font-size: 15px;
}

.sideDrawer-links {
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  /* margin: 2px 0px; */
  font-size: 16px;
}

.sideDrawer-links-text {
  width: 100px;
}

.link-active {
  /* background-color: #eee;
  color: #2b5570; */
  text-decoration: underline;
}

::ng-deep .mat-list-item-content {
  padding: 0px 80px !important;
}

.logo {
  width: 160px;
}

@media only screen and (max-width: 400px) {
  ::ng-deep .mat-list-item-content {
    padding: 0px 120px !important;
  }
  .sideDrawer-content {
    padding: 30px 0px;
    margin-top: -50px;
  }
}
