<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="column" fxLayoutAlign="center start" class="manage-container">

    <p class="title">MANAGE WEBSITE</p>
    <mat-divider style="width: 100%"></mat-divider>
    <br>

    <div fxLayout="column" fxFill>
      <!--home-->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item" matRipple>
        <fa-icon [icon]="['fas', 'home']" class="icons" fxLayoutAlign="center center"></fa-icon>
        <div class="list-item-text">
          <p class="sub-title">HOME</p>
          <p class="description">Manage testimonials.</p>
        </div>
      </div>
      <!--about-->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item" matRipple>
        <fa-icon [icon]="['fas', 'lightbulb']" class="icons" fxLayoutAlign="center center"></fa-icon>
        <div class="list-item-text">
          <p class="sub-title">ABOUT</p>
          <p class="description">Manage listing staff, board of directors, etc.</p>
        </div>
      </div>
      <!--senior services -->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item" matRipple>
        <fa-icon [icon]="['fas', 'user-md']" class="icons" fxLayoutAlign="center center"></fa-icon>
        <div class="list-item-text">
          <p class="sub-title">SENIOR SERVICES</p>
          <p class="description">Manage listing locations for various services.</p>
        </div>
      </div>
      <!--tutoring-->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item" matRipple>
        <fa-icon [icon]="['fas', 'book-open']" class="icons" fxLayoutAlign="center center"></fa-icon>
        <div class="list-item-text">
          <p class="sub-title">TUTORING</p>
          <p class="description">Update offered services, applications, etc.</p>
        </div>
      </div>
      <!--events-->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item" matRipple>
        <fa-icon [icon]="['fas', 'calendar']" class="icons" fxLayoutAlign="center center"></fa-icon>
        <div class="list-item-text">
          <p class="sub-title">EVENTS</p>
          <p class="description">Create, delete, and edit event listings.</p>
        </div>
      </div>
      <!--job openings-->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item" matRipple>
        <fa-icon [icon]="['fas', 'briefcase']" class="icons" fxLayoutAlign="center center"></fa-icon>
        <div class="list-item-text">
          <p class="sub-title">JOB OPENINGS</p>
          <p class="description">Manage volunteer/employment opportunities.</p>
        </div>
      </div>
    </div>

    <p class="title">MANAGE USERS</p>
    <mat-divider style="width: 100%"></mat-divider>
    <br>

    

  </div>
</div>
