<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center" autocomplete="off" class="fade-in">
  <mat-form-field floatLabel="never" class="auth-input" fxLayoutAlign="start center">
    <input matInput formControlName="email" type="email" placeholder="Email" class="auth-input-field" fxLayoutAlign="center center">
    <span matPrefix><i class="material-icons auth-input-field-icon" fxLayoutAlign="center center">email</i></span>
  </mat-form-field>
  <mat-form-field floatLabel="never" class="auth-input" fxLayoutAlign="start center">
    <input matInput formControlName="password" type="password" placeholder="Password" class="auth-input-field" fxLayoutAlign="center center">
    <span matPrefix><i class="material-icons auth-input-field-icon" fxLayoutAlign="center center">lock</i></span>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit" class="auth-btn">LOGIN</button>
  <p class="auth-switch-prompt" routerLink="/mughub/auth/register">Don't have an account, register here.</p>
</form>
