.logo--width {
  width: 260px;
}

.auth-input{
  background-color: #244359;
  border-radius: 33.5px;
  font-size: 14px;
  width: 320px;
  height: 38px;
  margin-bottom: 13px;
  padding-left: 25px;
  font-family: 'Montserrat', sans-serif !important;

}

.auth-input-field {
  color: #98aab6;
  margin-top: -4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  caret-color: #98aab6 !important;
}

.auth-input-field-icon {
  color: #98aab6;
  font-size: 17px;
  padding-right: 12px;
}

.auth-input-field-forgot {
  color: #98aab6;
  font-size: 17px;
  margin-left: 50px;
  cursor: pointer !important;
}

.auth-switch-prompt {
  color: #98aab6;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .auth-input {
    width: 250px;
  }
  .auth-input-field-forgot{
    margin-left: -12px;
  }
}

:host ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple{
  height: 0px !important;
}

:host ::ng-deep .mat-form-field-label{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  color: #98aab6 !important;
  top: 12px !important;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  display: none !important;
}

/* fix chrome autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus

{
    -webkit-box-shadow: 0 0 0px 1000px #244359 inset !important;
    -webkit-text-fill-color: #98aab6 !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
