<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh" class="fade-in">
  <img class="logo--width" src="https://firebasestorage.googleapis.com/v0/b/mugsite-95f7c.appspot.com/o/mughub_logo_onlight.png?alt=media&token=7862ca74-e8e9-41c5-a95b-b9cfd7f4bae6">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center" autocomplete="off" class="fade-in">
    <mat-form-field floatLabel="never" class="auth-input" fxLayoutAlign="start start">
      <input matInput formControlName="email" type="email" placeholder="Email" class="auth-input-field" fxLayoutAlign="center center">
      <span matPrefix><i class="material-icons auth-input-field-icon" fxLayoutAlign="center center">email</i></span>
    </mat-form-field>
    <mat-form-field floatLabel="never" class="auth-input" fxLayoutAlign="start start">
      <input matInput formControlName="password" type="password" placeholder="Password" class="auth-input-field" fxLayoutAlign="center center">
      <span matPrefix><i class="material-icons auth-input-field-icon" fxLayoutAlign="center center">lock</i></span>
      <span matSuffix (click)="onResetPassword()" class="auth-input-field-forgot">?</span>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" class="auth-btn">LOGIN</button>
    <p class="auth-switch-prompt" routerLink="/mughub/register">Don't have an account, register here.</p>
  </form>
</div>
