<form [formGroup]="connectionsForm"  class="widthFullPer">
  <mat-form-field floatLabel="never" class="widthFullPer">
    <mat-chip-list #chipList aria-label="Student Selection">
      <mat-chip *ngFor="let connection of selectedConnections" [selectable]="selectable" [removable]="removable" (removed)="removeConnectionChip(connection)" class="chip">
        <div class="profile-image-container-chip" [ngStyle]="{'background-image': 'url(' + connection.photoUrl + ')'}"></div>
        {{ connection.name }}
        <i class="material-icons icon-chip" fxLayoutAlign="center center" matChipRemove *ngIf="removable">cancel</i>
      </mat-chip>
      <input
        #connectionInput
        matInput
        formControlName="connections"
        placeholder="Ex. John Doe"
        class="drawer-form-input widthFullPer"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addConnectionChip($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="connectionSelected($event)">
      <mat-option *ngFor="let connection of filteredConnections | async" [value]="connection" class="background-eee">
        <div fxLayout="row" fxLayoutAlign="start center" class="widthFullPer">
          <div class="profile-image-container-mini" [ngStyle]="{'background-image': 'url(' + connection.photoUrl + ')'}" style="margin-right: 15px"></div>
          <span class="autocomp-text">{{ connection.name }}</span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<p *ngIf="connectionsForm.controls.connections.errors && !connectionsForm.controls.connections.pristine" class="form-error-message">*One of the connections you entered is invalid. Please select one from the list. If you do not see the connection you are looking for, update your connections in settings.</p>
