.title {
  color: #2b5670;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 0px 10px;
}

.dynamic-height {
  height: 92vh;
}

@media (max-height: 450px) {
  .dynamic-height {
    height: inherit;
  }
}
