.title {
  color: #2b5670;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.profile-image{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/mugsite-95f7c.appspot.com/o/headshot.jpeg?alt=media&token=b46f579f-f170-440f-9965-ae2a3e3496a6');
  background-position: center center;
  background-size: contain;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  /* border: 3px solid #de6600; */
}

.profile-image-add {
  position: relative;
  top: 110px;
  left: 110px;
  border-radius: 50%;
  background-color: #de6600;
  width: 30px;
  height: 30px;
  color: white;
}

.profile-image-add-icon {
  font-size: 18px;
  padding-top: 6px
}

.profile-name {
  color: grey;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 25px;
  cursor: pointer;
}

.profile-name-icon-edit {
  font-size: 17px;
  padding: 5px;
  vertical-align: middle;
}

.button {
  border-radius: 33.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 320px;
  font-size: 16px;
}

.button-icon {
  font-size: 17px;
  padding: 0px 5px;
}
