<div fxLayout="column" fxLayoutAlign="center center" style="background: #eee; width: 100 %">
  <div class="profile-image">
    <div class="profile-image-add">
      <i fxLayoutAlign="center center" class="material-icons profile-image-add-icon">add</i>
    </div>
  </div>
  <p class="profile-name" fxLayoutAlign="center center">
    ANA WALTON <i class="material-icons profile-name-icon-edit">edit</i>
  </p>
</div>

<!-- <form>
  <mat-form-field>
    <input matInput placeholder="Last name, First name" required>
  </mat-form-field>
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form> -->
