<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #profileImageEditor mode="over" position="end" (openedStart)="loadImages()" class="profileImageEditor">
    <mughub-headnav title="PROFILE IMAGE" iconLeft="close" iconRight="done" (leftIconToggled)="profileImageEditor.close()" (rightIconToggled)="onFinish()"></mughub-headnav>
    <router-outlet></router-outlet>
  </mat-drawer>
  <mat-drawer-content style="background: #eee" class="fade-in">
    <div fxLayout="column" fxLayoutAlign="center center" style="height: 92vh">
      <p class="title">CUSTOMIZE YOUR PROFILE</p>
      <br>
      <div fxLayout="column" fxLayoutAlign="center center" style="background: #eee; width: 100%">
        <div (click)="profileImageEditor.open()" class="profile-image" [ngStyle]="{'background-image': 'url(' + chosenProfileImage + ')'}">
          <div class="profile-image-add">
            <i fxLayoutAlign="center center" class="material-icons profile-image-add-icon">add</i>
          </div>
        </div>
        <br>
        <form [formGroup]="nameForm" fxLayoutAlign="center center">
          <mat-form-field floatLabel="never">
            <input matInput type="text" formControlName="username" class="nameFormField">
            <span matSuffix style="color: grey; cursor: pointer"><i class="material-icons" fxLayoutAlign="center center">edit</i></span>
          </mat-form-field>
        </form>
      </div>
      <br>
      <button (click)="onProfileSubmit()" type="submit" mat-raised-button color="accent" class="button" fxLayoutAlign="center center">
        CONTINUE
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
