<div fxLayout="column" fxLayoutAlign="center center" class="container">

  <p class="title">USER PREFERENCES</p>


  <div fxLayout="column" fxLayoutAlign="center center" class="category">

    <div fxLayout="row" fxLayoutAlign="start center" class="category-title-container" fxFill>
      <fa-icon [icon]="['fas', 'bell']" class="icons" fxLayoutAlign="center center" style="padding-left: 0px; margin-left: -32px"></fa-icon>
      <p class="category-title">NOTIFICATIONS</p>
    </div>

    <div class="category-info">

      <div fxLayout="row" fxLayoutAlign="space-between center" class="category-info-title-container">
        <div fxLayout="row">
          <p class="category-info-title">INBOX ALERTS</p>
          <fa-icon [icon]="['fas', 'check-circle']" class="icons icon-on" fxLayoutAlign="center center"></fa-icon>
        </div>
        <button class="category-toggle" mat-button color="accent">TURN OFF</button>
      </div>
      <p class="category-info-text">
        Get inbox notifications when you receive a message from a student or parent.
      </p>
      <br>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="category-info-title-container">
        <div fxLayout="row">
          <p class="category-info-title">HOUR LOG ALERTS</p>
          <fa-icon [icon]="['fas', 'check-circle']" class="icons icon-on" fxLayoutAlign="center center"></fa-icon>
        </div>
        <button class="category-toggle" mat-button color="accent">TURN OFF</button>
      </div>
      <p class="category-info-text">
        Receive a weekly email when your hours have been automatically logged.
      </p>

    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="category">
    <div fxLayout="row" fxLayoutAlign="start center" class="category-title-container" fxFill>
      <fa-icon [icon]="['fas', 'calendar']" class="icons" fxLayoutAlign="center center" style="padding-left: 0px; margin-left: -32px"></fa-icon>
      <p class="category-title">HOUR LOG</p>
    </div>
    <div class="category-info">

      <div fxLayout="row" fxLayoutAlign="space-between center" class="category-info-title-container">
        <div fxLayout="row">
          <p class="category-info-title">AUTOMATIC LOGGING</p>
          <fa-icon [icon]="['fas', 'check-circle']" class="icons icon-on" fxLayoutAlign="center center"></fa-icon>
        </div>
        <button class="category-toggle" mat-button color="accent">TURN OFF</button>
      </div>
      <p class="category-info-text">
        Leave it to us. Set your hours beforehand and have them automatically logged for you every week.
      </p>

    </div>
  </div>

</div>
