.title {
  color: #2b5670;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 0px 10px;
}

.container {
  margin: 10px;
  /* width: 95%; */
}

.category {
  color: grey;
  width: 60%;
  margin-bottom: 15px;
}

.category-title-container {
  width: 100%;
}

.category-title {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.category-info {
  width: 90%;
}

.category-info-title-container {
  width: 100%;
}

.category-info-title {
  color: grey;
  font-weight: 500;
  font-size: 15px;
}

.category-info-text {
  font-size: 15px;
  font-weight: 300;
  color: grey;
  margin: 0;
  width: 100%;
  line-height: 23px;
}

.category-toggle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.icons {
  padding: 0px 15px;
}

.icon-on {
  color: #3fa700;
}

.icon-off {
  color: #de0005;
}

.divider {
  width: 96%;
}

.form-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px !important;
}

@media (max-width: 600px) {
  .category {
    width: 80%;
  }
  .category-info-title {
    font-size: 14px;
  }
  .category-toggle {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .category {
    width: 100%;
  }
  .category-info-title {
    font-size: 13px;
  }
  .category-toggle {
    font-size: 12px;
  }
}
