<mat-drawer-container [hasBackdrop]="false" class="heightFull">

  <mat-drawer #editor mode="over" position="end" opened="false" class="side-content-drawer">
    <mughub-hour-log-uploader (onCloseUploder)="editor.close()" [dateClicked]="dateClicked" [addBtnEnabled]="canAddHours"></mughub-hour-log-uploader>
  </mat-drawer>

  <mat-drawer-content class="background-eee heightFull paddingNone">
    <mughub-headnav title="Manage Hours" iconLeft="menu" (leftIconToggled)="closeSidenav()"></mughub-headnav>
    <div fxLayout="column" fxLayoutAlign="center center">
      <app-calendar [loggedHoursSub]="hourLogService.loggedHoursChanged"></app-calendar>
      
    </div>
  </mat-drawer-content>

</mat-drawer-container>
