<div *ngIf="!hasLoaded" class="loader">loading...</div>
<div *ngIf="hasLoaded" class="welcome-container fade-in" fxLayout="column" fxLayoutAlign="space-between center">
  <div  fxLayout="column" fxLayoutAlign="center center" style="height: 95vh">
    <p class="welcome-title">WELCOME TO MUG<span style="color: #de6600">HUB</span></p>
    <p class="welcome-text">We are a community of students, parents, tutors, and teachers, working together to reach academic excellence.</p>
    <br><br>
    <button (click)="onGetStarted()" mat-raised-button class="welcome-action-btn" color="accent">GET STARTED</button>
    <p class="welcome-action-btn-subtext">or return to the MUG webiste</p>
  </div>
  <p class="welcome-hashtag" fxLayoutAlign="center end">#BetterTogether</p>
</div>
